// Entradas, Categorías, Tags, Searchings
.entradas
	background blanco_puro
	box-sizing border-box
	margin 1em

	&__article
		border-bottom 1px solid blanco_grisaceo2
		margin $em 0
		padding-bottom $em
		padding-top $em*0.5
		text-align left

		ol
		ul
			margin-left 1em

		&__figure
			display table-cell
			margin 0
			max-width 100px
			min-width 100px
			overflow hidden
			padding 0
			vertical-align top

			a
				display block
				position relative
				text-decoration none
				transition_comun()
				imagenizador()


			img
				display block
				width 100%


		&__header
			&__title
				color blanco
				font-size $em
				padding 0
				margin 0

				a
					color azul_feisbuc
					display block
					padding 0.3em 50px 0.3em 0.25em
					position relative
					text-decoration none

					&:hover
					&:focus
						color azul_asfalto

		&__right
			display table-cell
			padding-left 0.5em
			vertical-align top
			width 100%

	&__article:last-child
	&__article.last-child
		border-bottom none

	&__header
		&__title
			color gris_suave
			padding 0
			margin 0
			font-size $em

@media all and (min-width: 540px)
	.entradas
		&__article
			&__figure
				max-width 100px
				min-width 100px

			&__header
				&__title
					font-size $em

					a
						padding-left 0.5em

@media all and (min-width: 740px)
	.entradas
		&__article
			&__figure
				max-width 150px
				min-width 150px

@media all and (min-width: 900px)
	.entradas
		margin-left 0
		margin-top 0
		text-align left
		vertical-align top

@media all and (min-width: 1200px)
	.entradas
		&__article
			display inline-block
			width 49.5%



// Categorizaciones de las entradas
.categorizacion
	color gris_suave
	display table
	margin 0
	padding 0.25em 0
	text-align left
	width 100%

	&__icono
		display table-cell
		padding 0.25em 0.25em 0.25em 0
		vertical-align top
		width 1.5em

	&__list
	ul.categorizacion__list
	ol.categorizacion__list
		display table-cell
		font-family fuente
		margin-left 0
		padding-left 0.5em
		vertical-align middle

		&__items
		.post-categories
			margin 0
			padding 0

			li
				display inline-block
				padding 0
				margin 0

				a
					background gris_suave
					border-radius 3px
					color blanco
					display inline-block
					padding 1px 3px
					text-align center
					text-decoration none
					text-shadow_lindo()
					vertical-align middle

					&:first-letter
						text-transform uppercase

					&:hover
					&:focus
						color blanco
						background rosa_suave

	&:first-child
	&.first-child
		border-top none

// Artículos de Páginas
.page
	background blanco_puro
	margin $em
	text-align left

	&__article
		ol
		ul
			li
				margin-bottom 0.5em
				margin-top 0.5em

		&__figure
			border 1px solid blanco_grisaceo2
			margin 0 auto 1em auto
			padding 0
			max-width 400px

			a
			img
				display block
				width 100%

			a
				position relative
				text-decoration none
				transition_comun()
				imagenizador()


			figcaption
				color gris
				font-family fuente_heading_bold
				padding 0.5em
				text-align center

		&__form_comentarios
			margin 1em auto


		&__header
			background blanco_grisaceo2
			background gris_nube
			margin-bottom $em
			padding 0.5em
			position relative
			text-align center

			&__title
				display inline-block
				font-family fuente_heading_bold
				font-size $em*0.8
				font-weight bolder
				margin 0
				padding 0
				position relative
				text-transform uppercase
				z-index 4

	&__background__ocupador
		background-attachment fixed
		background-clip border-box
		background-origin border-box
		background-position 50% 50%
		background-repeat no-repeat
		background-size(cover)
		padding $em*4 $em
		position relative
		margin-top $em
		
		.page__article__header
			margin $em 0
			padding $em

		.page__article__header__title
			font-size $em*1.1
			color blanco_puro


		&:before
			background-color negro_transparente
			content ""
			left 0
			height 100%
			position absolute
			top 0
			width 100%
			z-index 1

@media all and (min-width: 900px)
	.page
		margin-top 0
		margin-left 0
		
		&__background__ocupador
			.page__article__header__title
				font-size $em*2

@media all and (min-width: 1200px)
	.page
		&__article
			&__figure
				float right
				margin 0 0 1em 1em
				min-width 400px


a.importancia
	padding 0.25em 0.5em
	color gris_fuerte

	&:hover
	&:focus
		color rosa_suave
