// Bloques y Citas
blockquote
	background #f9f9f9
	border-left 10px solid plateado
	clear both
	font-family fuente_cursiva_negrita
	font-style italic
	font-size 1.2em
	line-height 150%
	margin 1.5em 10px
	padding 1em 1em 0.5em 1em
	quotes "\201C""\201D""\2018""\2019"

	&:before
		color plateado
		content open-quote
		font-size 4em
		line-height 0.1em
		margin-right 0.25em
		vertical-align -0.4em
	
	cite
		color #999
		display block
		font-size 14px
		margin-top 5px

		&:before
			content "\2014 \2009"

	p
		display inline
	