// Comentarios del blog y/o de cualquier noticias/entrada
.commentlist
	list-style none
	margin 0
	padding 0
	li
		// padding 9px
		ul
			list-style none
			margin-top 1em
			margin-bottom 1em

.comentarios
	&__article
		&__header
			background gris_fuerte
			margin-top 1em

.comment
	margin-top 1em

	&-author
		margin-bottom 0.5em

		.fn
		.avatar
			display inline-block
			margin-right 1em
			vertical-align middle

		.says
			display none
	&-body
		margin-top 2em

	&-content
		border 1px solid plateado
		margin-bottom 0.5em
		padding 0.5em

	&-metadata
		font-family fuente_heading_bold
		font-weight bolder

		a
			color plateado
			font-size 0.9em
			text-decoration none
			&:hover
			&:focus
				color rosa_suave


		a.comment-edit-link
			display inline-block
			margin-left 1em
