// El footer de la web
.footer
	background gris_fuerte
	border-top 1px solid gris
	color blanco
	font-family fuente_heading
	letter-spacing -1px
	padding 1em 1em 2em 1em

	// Copyright
	&__copyright
		p
			text-indent 0

	// las Redes sociales
	&__redes_sociales
		display inline-block
		// background rgba(blanco, 0.8)
		padding $em*0.5 $em

		&__list
			margin 0
			padding 0

			&__item
				display inline-block
				margin-right 32px

				a
					display inline-block
					font-size 1.5em
					text-decoration none

			&__item:last-child
			&__item.last-child
				margin-right 0
	a
		text-decoration none

	a.whatsapp
		color esmeralda;


// Ir hacia arriba
.gotop
	bottom 2em
	display inline-block
	// height 50px
	// padding-right $em*0.5 !important
	position fixed
	right -5em
	transition_comun()
	// width 50px
	z-index 892

	a
		background negro
		border-radius 4px 0 0 4px
		font-size $em*0.8
		// background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAA3NCSVQICAjb4U/gAAAAXVBMVEX////eHkneGUreHkneGUreHkneGUreHkneGUreHkneGUreHkneGUreHkneGUreHkneGUreHkneGUreHkneGUreHkneGUreHkneGUreHkneGUreHkneGUreHkneGUoBeMeZAAAAH3RSTlMAEREiIjMzRERVVWZmd3eIiJmZqqq7u8zM3d3u7v//6qauNwAAAAlwSFlzAAAOwwAADsMBx2+oZAAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAGuSURBVEiJlZbtooIgDIYJEUUr8yvj6Lr/yzxoqOCG1Psrth7ZYAwYo3QRIpWJuJBOLKGqVk9vAJiG9lbEsaLX4El3+SmgBiDUZ0FA9hQwq01o4j6GCIBREQBvw8CsChEiGNSq5jjHK0aYhHwkOgeKrf6GALjuREa4B41tk9gSIbx3zhts7bYNwb5ytlfYbouHTzRBMUPIUa7zY5eiM9kIgunI5XIIzGhBGD0CuwsT1/OUQIwpATGeE0emZyyPEQfGJHONEj7zFt7Wu8RNBZjUHXkEjBnN5M7AJyDEqD2wIwFbES7ajlTGSvurwQRMLmNb3FsyZd13TJjYit1qz/ooWGJLX3NMuPNIu+UvzvjaUweOCfNRy8i13ms3ryfHBCx16BBwM6Nyc87zIAKmwiVGyby61BXZZZtm/8vnJEeasa/PwqY/EKO91H6Y5maXPMVdKaB98x7fIs6B+OKqmFU7JSdP7rxdg3eh53Hg08IcqTiRsoPySGwv4h6X5DNhVccxYd464bUerxQwKwvcsk3gcWEhlJLu5AmwpFS2f07StRIRYBGXZVV3bfMoEirpf6NdrLw5TYNnAAAAAElFTkSuQmCC")
		color blanco_puro
		display block
		height 100%
		opacity 0.5
		text-decoration none
		text-shadow_lindo()
		width 100%
		&:before
			padding $em*0.5
			display inline-block


		&:hover
			opacity 1

	&-mostrar
		// bottom 1em
		right 0

	&-ocultar
		// bottom -5em
		right -5em

@media only screen and ( min-width: 900px )
	.footer
		padding-bottom 1em


@media only print
	.gotop
		display none
