// Fuentes para letras de títulos
@font-face
	font-family 'MankSans'
	src url('../fonts/manksans.eot')
	src url('../fonts/manksans.eot') format('embedded-opentype'),
	url('../fonts/manksans.woff') format('woff'),
	url('../fonts/manksans.ttf') format('truetype'),
	url('../fonts/manksans.svg#MankSansRegular') format('svg')

@font-face
	font-family 'MankSansMedium'
	src url('../fonts/manksans-medium.eot')
	src url('../fonts/manksans-medium.eot') format('embedded-opentype'),
	url('../fonts/manksans-medium.woff') format('woff'),
	url('../fonts/manksans-medium.ttf') format('truetype'),
	url('../fonts/manksans-medium.svg#MankSansMediumRegular') format('svg')
	
@font-face
	font-family 'MankSansMediumItalic'
	src url('../fonts/manksans-mediumoblique.eot')
	src url('../fonts/manksans-mediumoblique.eot') format('embedded-opentype'),
	url('../fonts/manksans-mediumoblique.woff') format('woff'),
	url('../fonts/manksans-mediumoblique.ttf') format('truetype'),
	url('../fonts/manksans-mediumoblique.svg#MankSansMediumMediumItalic') format('svg')
	
@font-face
	font-family 'MankSansOblique'
	src url('../fonts/manksans-oblique.eot')
	src url('../fonts/manksans-oblique.eot') format('embedded-opentype'),
	url('../fonts/manksans-oblique.woff') format('woff'),
	url('../fonts/manksans-oblique.ttf') format('truetype'),
	url('../fonts/manksans-oblique.svg#MankSansItalic') format('svg')


@font-face
	font-family 'Raleway'
	font-style normal
	font-weight 400
	src url('../fonts/raleway.eot')
	src url('../fonts/raleway.eot') format('embedded-opentype'), url('../fonts/raleway.woff') format('woff'), url('../fonts/raleway.ttf') format('truetype'), url('../fonts/raleway.svg#Raleway') format('svg')


// Regular normal
@font-face
	font-family 'Conv_Gentium_Regular'
	src url('../fonts/Gentium_Regular.eot')
	src url('../fonts/Gentium_Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gentium_Regular.svg#Gentium_Regular') format('svg'),
	url('../fonts/Gentium_Regular.ttf') format('truetype'),
	url('../fonts/Gentium_Regular.woff') format('woff')
	// url('../fonts/Gentium_Regular.woff2') format('woff2')

// Italica
@font-face
	font-family 'Conv_Gentium_Italic'
	src url('../fonts/Gentium_Italic.eot')
	src url('../fonts/Gentium_Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gentium_Italic.svg#Gentium_Italic') format('svg'),
	url('../fonts/Gentium_Italic.ttf') format('truetype'),
	url('../fonts/Gentium_Italic.woff') format('woff')
	// url('../fonts/Gentium_Italic.woff2') format('woff2')
	font-style italic

// Negrita
@font-face
	font-family 'Conv_Gentium_Bold'
	src url('../fonts/Gentium_Bold.eot')
	src url('../fonts/Gentium_Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gentium_Bold.svg#Gentium_Bold') format('svg'),
	url('../fonts/Gentium_Bold.ttf') format('truetype'),
	url('../fonts/Gentium_Bold.woff') format('woff')
	// url('../fonts/Gentium_Bold.woff2') format('woff2')
	font-weight bolder

// Negrita cursiva
@font-face
	font-family 'Conv_Gentium_Bold_Italic'
	src url('../fonts/Gentium_Bold_Italic.eot')
	src url('../fonts/Gentium_Bold_Italic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Gentium_Bold_Italic.svg#Gentium_Bold_Italic') format('svg'),
	url('../fonts/Gentium_Bold_Italic.ttf') format('truetype'),
	url('../fonts/Gentium_Bold_Italic.woff') format('woff')
	// url('../fonts/Gentium_Bold_Italic.woff2') format('woff2')
	font-style italic
	font-weight bolder