// Navegación de post a post, atrás y adelante
.post_pagination
	border-top 1px solid blanco_grisaceo2
	border-bottom 1px solid blanco_grisaceo2
	font-family fuente_heading_bold_italic
	margin $em 0
	padding-bottom $em
	padding-top $em

	&__back
	&__next
		a
			// background azul_feisbuc
			color azul_feisbuc
			display block
			padding $em*0.5 0
			text-decoration none

			&:hover
			&:focus
				color azul_asfalto

	&__back
		margin-bottom 1px

		a
			&:before
				content "\e929"
				display inline-block
				font-family "Icomoon"
				margin-right 1em
				// triangle(10px, 14px, left, blanco)

	&__next
		text-align right

		a
			&:after
				content "\e92a"
				display inline-block
				font-family "Icomoon"
				margin-left 1em
				// triangle(10px, 14px, right, blanco)

@media all and (min-width: 600px)
	.post_pagination
		display table
		width 100%

		&__back
			margin-bottom 0
			border-right 1px solid transparent

		&__back
		&__next
			display table-cell


// Paginación común
.paginacion
	display inline-block
	margin 1em 0
	padding 0
	overflow hidden

	&__item
		background gris_fuerte
		border 1px solid blanco
		border-right none
		color gris_suave
		display inline-block
		float left
		font-family fuente_heading_bold
		font-weight bolder
		margin 0
		padding 5px 12px
		vertical-align middle
		text-decoration none

	a
		&:hover
		&:focus
			background rojo_google
			color blanco

		&:first-child
			border-left none

	// Actual
	&__current
		background gris_suave
		color blanco

	// Atrás
	&__back
		position relative

		&:before
			content ""
			display inline-block
			triangle(8px, 14px, left, blanco)

	// Siguiente
	&__next
		position relative

		&:before
			content ""
			display inline-block
			triangle(8px, 14px, right, blanco)


	// Primero
	&__first
		position relative

		&:before
		&:after
			content ""
			display inline-block
			triangle(5px, 14px, left, blanco)

	// Ultimo
	&__last
		position relative

		&:before
		&:after
			content ""
			display inline-block
			triangle(5px, 14px, right, blanco)
