// LLamando a Nib
// @import "nib"
@import 'normalize'
// @import 'nib/overflow'

// Fuentes e íconos
@import 'fuentes'
@import 'iconos'

// Generales y utilidades
@import "variables"
@import "paleta_de_colores"
@import "funciones"
@import "animaciones"

// Estructura de la web
@import "main"
@import "header"
@import "nav"
@import "slider"
@import "section"
@import "article"
@import "sidebar"
@import "footer"

// Etiquetas reutilizables
@import "figure"
@import "table"
@import "form"
@import "bloques"
@import "text"
@import "buttons"
// @import ""

// Bloques reutilizables
@import "breadcrums"
@import "navegation"
@import "fancybox"

// Comentarios
@import "comentarios"

// Para impresora
@media print
	@import "print"
