// Tablas
table
	border 1px solid rosa_suave
	border-collapse collapse
	overflow hidden
	width 100%
	
	caption, th, td
		padding 5px 0.5em

	caption, thead
		background rosa_suave
		color blanco
		text-align center
		text-transform uppercase
		text-weight bolder
	
	caption
		font-family fuente_heading_bold_italic
		margin-bottom 1px
		width auto
	
	caption a, thead a, tfoot a
		color gris_nube

		&:hover
		&:focus
			color naranja_suave
		
	
	tbody
		tr
			&:nth-child(even)
			.nth-child-even
				background gris_nube
	
	thead
		font-family fuente_heading_bold
		font-size 0.9em

	tfoot
		background rosa_suave
		color gris_nube
		font-family fuente_heading_bold_italic
		font-size 0.9em

.sidebar
	.calendar_wrap
		table
			border-color plateado
			
			caption
				border 1px solid plateado
				border-bottom none
				margin-bottom 0
			
			caption, thead, tfoot
				background gris_nube
				color gris_suave
				a
					color verde_azulado

					&:hover
					&:focus
						color rosa_suave
			
			thead
				th
					border-left 1px solid plateado
				
				th:first-child
				th.first-child
					border-left none

			tbody
				td
					border 1px solid plateado
					text-align center
				
				#today
					background naranja_suave
					color blanco_puro
				
			tfoot
				#next
					text-align right