// Variables generales

// Tamaños inicial de lo que sea.
$em = 19px

// Fuente general
fuente = "Conv_Gentium_Regular", Georgia, "Bookman Old Style", Garamond, serif
fuente_negrita = "Conv_Gentium_Bold", Georgia, "Bookman Old Style", Garamond, serif
fuente_cursiva = "Conv_Gentium_Italic", Georgia, "Bookman Old Style", Garamond, serif
fuente_cursiva_negrita = "Conv_Gentium_Bold_Italic", Georgia, "Bookman Old Style", Garamond, serif

fuente_heading = "Raleway", Helvetica, Verdana, sans-serif
fuente_heading_bold = "Raleway", Helvetica, Verdana, sans-serif
fuente_heading_italic = "Raleway", Helvetica, Verdana, sans-serif
fuente_heading_bold_italic = "Raleway", Helvetica, Verdana, sans-serif
